<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <title>Formulário de Produtos</title>
</head>

<body>

    <div>

        <form th:action="@{/produtos}" th:method="post" th:object="${produto}">

            <div>
                <label for="titulo">Título</label>
                <input id="titulo" type="text" name="titulo" th:field="*{titulo}" />
            </div>

            <div>
                <label for="descricao">Descrição</label>
                <textarea id="descricao" rows="10" cols="20" name="descricao" th:field="*{descricao}" ></textarea>
            </div>

            <div>
                <label for="paginas">Páginas</label>
                <input id="paginas" type="text" name="paginas" th:field="*{paginas}" />
            </div>

            <br />

            <div th:each="tipoPreco : ${ tipos }">
                <label th:text="${tipoPreco}"></label>
                <input type="text" th:name="${tipoPrecoStat.index}" th:value="*{precos}"/>
                <input type="hidden" th:name="${tipoPrecoStat.index}" th:value="${tipoPreco}" />

                <!--

                <input type="text" name="${tipoPrecoStat.valor}"  />
                <input type="hidden" name="${tipoPrecoStat.tipo}" th:value="${tipoPreco}" />


                <input type="text" name="${tipoPrecoStat.valor}" th:field="${tipoPreco.valor}" />
                <input type="hidden" name="${tipoPrecoStat.tipo}" th:value="${tipoPreco.tipo}" />

                -->
            </div>

            <button th:type="submit">Cadastrar</button>

        </form>

    </div>

</body>
</html>